body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.header {
    text-align: center;
    background-color: #0465a7;
    padding: 10px;
    height: 110px;
}
.header img{
    width: 400px;
    margin-top: -130px;
}

.pic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pic img {
    max-width: 50%;
    height: auto;
    margin: 50px;
    margin-right: 20px;
}
.pic img:hover{
    transform: translateY(-20px);
    transition: 0.5s;
}
/* Media Queries */
@media screen and (max-width: 600px) {
    .pic img {
        width: 100%;
        margin: 10px 0;
        margin-right: 20px;
    }
    .header img{
        width: 100%;
        margin: 10px 0;
    }
}